{% extends "app/layout.html" %}

{% block content %}
<div class="container" ng-controller="userInfoController" >
	{% include 'app/partial/publicNotice.html' with onUserInfoTypeChange="onUserInfoTypeChange()" %}

	<br />
	<h4>전체 공지 예약 </h4>
    <div class="panel panel-default" >
		<div class="panel-body" id="divAddUserInfo">
			<div ng-switch="selectedUserInfoType">
                    <div class="form-group">
                       <label >공지 메시지: <input type="text" width="700px" class="form-control" style="display:inline;" id="noticeMessage" name="noticeMessage"  /></label>
                    </div>
     
			</div>
			
				<div class="form-group">
                    <input type="button" class="btn btn-primary" value="전송" ng-click="publicNotice()" />
				</div>
			
		</div>
	</div>
</div>

{% endblock %}

{% load staticfiles %}
{% block scripts %}
	<script src="{% static 'gmtool/controller/userInfo.js' %}"></script>"

{% endblock %}