{% extends "app/layout.html" %}

{% block content %}

<div class="container" ng-controller="assetBundleController">
    <div class="form-group">
        {% include 'app/partial/selectRunMode.html' with runModeDef="runMode" %}

        &nbsp;
        <span class="glyphicon">&#xe075;</span>
        &nbsp;

        {% include 'app/partial/selectRunMode.html' with runModeDef="to_runMode" %}
    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="button" value="조회" ng-click="getLatestAssetBundles()"/>
    </div>

	<div class="form-group">
		<table id="assetBundleHistory" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th><input type="checkbox" id="isAllChoiceCheck" ng-click="checkAllChoiceButton()" /> 선택</th>
					<th>버전</th>
					<th>타입</th>
					<th>Url</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="assetBundleInfo in assetBundleRows">
					<td>
						<input type="checkbox" name="isChecked[]" value="[[assetBundleInfo.version]]">
					</td>
					<td>[[assetBundleInfo.version]]</td>
					<td>[[assetBundleInfo.name]]</td>
					<td>[[assetBundleInfo.url]]</td>
				</tr>
			</tbody>
		</table>
	</div>

    <div class="form-group">
        <input class="btn btn-primary" type="button" value="이관" ng-click="transferAssetBundles()"/>
    </div>
</div>
{% endblock %}

{% load staticfiles %}
{% block scripts %}
	<script src="{% static 'gmtool/controller/assetBundle.js' %}"></script>"
{% endblock %}