<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwException="true" internalLogToConsole="true" internalLogLevel="Warn">
  <!--<extensions>
    <add assembly="Nlog.RabbitMQ.Target" />
  </extensions>
    
  <variable name="rmqHost" value="47.74.6.156" />
  <variable name="rmqUser" value="akastudio" />
  <variable name="rmqPassword" value="dkzktmxbeldh" />
  <variable name="rmqvHost" value="/" />
  <targets async="true">

    <target name="system"
                xsi:type="RabbitMQ"
                username="${rmqUser}"
                password="${rmqPassword}"
                hostname="${rmqHost}"
                exchange="rmq.target.Knight"
                port="5672"
                vhost="${rmqvHost}"
                useJSON ="true"
                heartBeatSeconds="3"
                heartBeatSecondsForDebugger ="300"
                Timeout="12000"
            >
      <field key="Time" name="create" layout="${longdate}"/>
    </target>
    <target
         name="LogFile"
         xsi:type="File"
         layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
         fileName="${basedir}Logs/${var:runtime}/${date:format=yyyyMMdd}.log"
         encoding="UTF-8"
         archiveFileName="${basedir}Logs/archives/${var:runtime}/archive.{#}.log"
         archiveEvery="Day"
         archiveNumbering="Rolling"
         maxArchiveFiles="7"
         header="[Start Logging]"
         footer="[End Logging]${newline}"  />

    <target
         name="ErrorLogFile"
         xsi:type="File"
         layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
         fileName="${basedir}ErrorLogs/${var:runtime}/${date:format=yyyyMMdd}.log"
         encoding="UTF-8"
         archiveFileName="${basedir}ErrorLogs/archives/${var:runtime}/archive.{#}.log"
         archiveEvery="Day"
         archiveNumbering="Rolling"
         maxArchiveFiles="7"/>

    <target
         name="CrashLogFile"
         xsi:type="File"
         layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
         fileName="${basedir}CrashLogs/${var:runtime}/${date:format=yyyyMMdd}.log"
         encoding="UTF-8"
         archiveFileName="${basedir}CrashLogs/archives/${var:runtime}/archive.{#}.log"
         archiveEvery="Day"
         archiveNumbering="Rolling"
         maxArchiveFiles="7"/>
    
  </targets>


  <rules>
    
    <logger name="knightrun" minlevel="Trace"  writeTo="knightrun" />
    
    
    <logger name="*" minlevel="Info"  writeTo="system" />
    <logger name="*" minlevel="Info"  writeTo="system" />
    <logger name="*" minlevel="Debug" writeTo="LogFile" />
    <logger name="Crash" minlevel="Error" maxlevel="Error" writeTo="ErrorLogFile" />
    <logger name="Crash" minlevel="Fatal" writeTo="CrashLogFile" />

  </rules>-->
</nlog>