absl-py==0.9.0
asgiref==3.2.10
astroid==2.4.2
colorama==0.4.3
Django==2.1.15
django-admob-ssv==1.0.4
dnspython==2.0.0
ecdsa==0.15
install==1.3.3
isort==4.3.21
-jango==3.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysql==0.0.2
mysqlclient==2.0.1
mysql-connector==2.2.9
pip==20.2.1
protobuf==3.12.4
pycoin==0.90.20200809
pylint==2.5.3
pytz==2020.1
setuptools==40.8.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1
