{% extends "app/layout.html" %}

{% block content %}

<div class="container">
    <form method="post" action="{% url 'transferTable' %}">
        {% csrf_token %}
        <div class="form-group">
            {% include 'app/partial/selectRunMode.html' with runModeDef="from_runMode" %}

            &nbsp;
            <span class="glyphicon">&#xe075;</span>
            &nbsp;

            {% include 'app/partial/selectRunMode.html' with runModeDef="to_runMode" %}
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="테이블 이관"/>
        </div>
    </form>
</div>
{% endblock %}

