{% extends "app/layout.html" %}

{% block content %}

<div class="container" ng-controller="tableController">
	<div class="form-group">
		<lable class="control-label" for="runMode">서버 종류:</lable>
		<div>
			{% include 'app/partial/selectRunMode.html' with runModeDef="runMode" %}
		</div>
	</div>
	<div class="form-group">
		<input class="btn btn-primary" type="button" value="조회" ng-click="getTableOrderAndSelectionInfo()" />
	</div>

	<div class="form-group">
		<table class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>테이블 이름</th>
					<th>우선순위</th>
					<th>다운로드 선택</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tableInfo in tableRows">
					<td>[[tableInfo.name]]</td>
					<td>
						<input type="number" class="form-control" name="[[tableInfo.name]]" value="[[tableInfo.orderNum]]" />
					</td>
					<td>
						<div ng-if="tableInfo.isSelected == 1">
							<input type="checkbox" class="form-control" name="[[tableInfo.name]]" checked/>
						</div>
						<div ng-if="tableInfo.isSelected == 0">
							<input type="checkbox" class="form-control" name="[[tableInfo.name]]" />
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="form-group">
		<input class="btn btn-primary" type="button" value="수정" ng-click="updateTableOrderAndSelectionInfo()" />
	</div>
</div>

{% endblock %}

{% load staticfiles %}
{% block scripts %}
	<script src="{% static 'gmtool/controller/table.js' %}"></script>"
{% endblock %}